name: Docker Image for ml-backend

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        run: docker build -t backend_image ./backend
